.el-link {
  font-size: inherit;
}

.el-card {
  height: max-content;
  margin-bottom: 10px;
}

.el-card__header {
  padding: 10px 14px;
  font-size: 14px;
}

.el-message {
  max-width: 95vw;
  min-width: 0;
  width: max-content;
}

.el-message-box {
  max-width: 95vw;
}

.el-collapse-item__header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: block;
}

.el-collapse-item__header > .el-collapse-item__arrow {
  position: absolute;
  top: 11px;
  right: 0px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
}

.el-collapse-item__header > .el-collapse-item__arrow:hover {
  background: #eee;
}
