.theme_white {
  --background: #fff;
  --hover_background: #409eff;
  --hover_color: #fff;
  --page_background: #eee;
  --routeLabel_background: #fff;
  --background_color: #409eff;
}

.theme_dark {
  --background: orange;
}
